footer {
    display: flex;
    grid-area: ft;
    background-color: #A9FFDE;
}


.icons {
    font-size: 40px;
    margin: auto;
}


.fa {
    padding: 30px;
    color: #ec0bc7; /*#4e4e4e I also like here*/
    text-decoration: none;
}


.fa:hover {
    opacity: 0.7;
}