@import "menu.css";
@import "cards.css";
@import "footer.css";


section {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto 100px auto 100px;
    grid-template-areas:
    "hd"
    "subhd"
    "main"
    "ft";
}