@media screen and (max-width: 1010px) {
    .menu {
        flex-direction: column;
    }
    

    .logo {   
        margin: 0.25em 0;
    }
    

    .nav-bar  {
        width: 100%;
        justify-content: space-around;
    }


    #card-one, #card-two, #card-three {
        flex-wrap: wrap;
        height: auto;
    }


    .card-img-left {
        height: auto;
        max-width: 100%;
    }
    

    .card-body {
        width: 100%;
        padding: 20px;
    }
}


@media screen and (max-width: 480px) {
    .logo {
        margin: 0.25em 0;
        align-self: left;
        justify-content: center;
    }


    .nav-bar {
        flex-direction: column;
    } 
    

    .nav-bar a { 
        text-align: center; 
        padding: 10px;
        border-top: 1px solid #4e4e4e77;
    }
    

    .nav-bar li:first-of-type a {
        border-top: none;
    }


    .icons {
        font-size: 25px;
        padding: 10px;
    }
}
